#confirmation_sent_container
	%h1 Brain Fart!

	%p
		Something went wrong in the signup process.
		%a{ :href => '/signup/' + params[:invite] } Click here
		and let's try again.
		%br
		%em Activate Your Account
		to start the Math