#graph.chartwell.lines
  - @item.records.each do |record|
    %span #{record.amount}

%h2 #{@item.name}

%table.records
  - @item.records.each do |record|
    %tr
      %td #{record.amount}
      %td #{record.created_at}

:javascript
  FFChartwell();
