<!--[if lt IE 9]>
<!-- For compatibility with older IEs -->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<script src="/js/excanvas.min.js"></script>
<![endif]-->

%link{ :rel => 'stylesheet', :href => '/css/style.css' }
%link{ :rel => 'stylesheet', :href => '/fonts/Otari-Regular-Web/stylesheet.css' }


#container
  %h1
    Math
    %a#plus{ :href => '#' }
      +
      %span.arrow
      %form{ :id => 'record_form', :method => 'POST', :action => '/records' }
        %p
          %input{ :type => 'text', :name => 'item_name', :id => 'item_name', :placeholder => 'Item' }
        %p
          %input{ :type => 'text', :name => 'amount', :id => 'amount', :placeholder => 'Amount' }
        %p
          %input{ :type => 'submit', :id => 'submit_item', :value => 'Save' }

  #content
    #graph.chartwell.lines
      - @item.records.each do |record|
        %span #{record.amount}

    %h2 #{@item.name}

    %table.records
      - @item.records.each do |record|
        %tr
          %td #{record.amount}
          %td #{record.created_at}


%script{ :type => 'text/javascript', :src => '/js/zepto.min.js' }
%script{ :type => 'text/javascript', :src => '/js/chartwell.min.js' }
%script{ :type => 'text/javascript', :src => '/js/chartwell_lines.min.js' }
%script{ :type => 'text/javascript', :src => '/js/keymaster.min.js' }

:javascript
  FFChartwell();
