!!!
%html
	%head
		%title D#M
		%link{ :rel => 'stylesheet', :href => '/css/style.css' }
		%meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1' }

	%body
		#login
			%h1 Math
			- if flash.has?(:notice)
				.alert-message.notice.login
					= flash[:notice]
			- elsif flash.has?(:error)
				.alert-message.error.login
					= flash[:error]
			%form{ :method => 'post', :action => (params[:client_id].nil? ? '/login' : '/oauth/login') }
				- unless params[:redirect_uri].nil?
					%input{ :type => 'hidden', :name => 'redirect_uri', :value => params[:redirect_uri] }
					%input{ :type => 'hidden', :name => 'client_id', :value => params[:client_id] }
					%input{ :type => 'hidden', :name => 'response_type', :value => params[:response_type] }

				%p
					%label{ :for => 'email' }
					%input#email{ :type => 'text', :name => 'email', :placeholder => 'Email' }

				%p
					%label{ :for => 'password' }
					%input#password{ :type => 'password', :name => 'password', :placeholder => 'Password' }

				%p
					%label{ :for => 'submit' }
					%input#submit.btn.primary{ :type => 'submit', :name => 'submit', :value => 'Login' }

				%p.about
					Math is a tool for tracking habit and activity data.
					%br
					%a{ :href => '/signup' } Sign up.
					%a{ :href => '/forgot' } Forgot password?