html {
  background: #aaa;
}
body {
  background: #fefeff;
  font-family: helvetica, arial, sans-serif;
  padding: 20px 20px 60px 60px;
  color: #333;
  margin: 0;
}

  #container {
    width: 100%;
  }

#records {
  padding-left: 0;
}

  #records li.block {
    float: left;
    display: block;
    width: 400px;
    padding: 20px;
    margin: 0 10px 10px 0;

    border: 1px solid #eee;
    border-radius: 3px;
  }
    #records li.block h2 {
      text-align: center;
      font-weight: 100;
      font-size: 20pt;
      margin-bottom: 5px;
    }
      #records li.block h2 a {
        color: inherit;
        text-decoration: none;
      }

    #records li.block span.graph {
      display: block;
      width: 100%;
      color: #d88;
    }

  h1 {
    font-family: OtariRegular, helvetica, sans-serif;
    font-weight: 100;
    font-size: 60pt;
    margin: 0;
  }

  h3 {
    font-weight: 200;
    font-size: 12pt;
    text-align: center;
    margin: 0 0 20px 0;
    color: #777;
  }
    h3 span {
      position: relative;
    }

      h3 span.hidden {
        display: none;
        color: #999;
        font-size: 10pt;
        margin-top: 1pt;

        position: absolute;
        top: 0;
      }
      h3 span.hidden.left {
        right: 102%;
      }
      h3 span.hidden.right {
        left: 102%;
      }

      h3 span:hover .hidden {
        display: inline;
      }

#plus {
  position: relative;
  top: -100%;
  display: inline;
  margin: 0 auto;
  width: 41px;
  color: #666;
  text-decoration: none;

  -moz-transition: color .1s ease-in-out;
  -webkit-transition: color .1s ease-in-out;
}

#plus:hover, #plus.active {
  color: #f66;
}

  #plus #record_form {
    position: absolute;
    top: 100px;
    left: -115px;
    width: 250px;
    padding: 10px;
    display: none;

    position: absolute;
    background: #fcfcfc;
    z-index: 300;
    border: 6px solid rgba(30, 30, 30, .1);
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(20, 20, 20, .2);
  }

  #plus:hover #record_form, #plus.active #record_form,
  #plus:hover span.arrow, #plus.active span.arrow {
    display: block;
  }

    #record_form p {
      padding: 0;
      margin: 10px 0 0;
    }
    #record_form p:nth-child(1) {
      margin: 0;
    }
      #record_form p input {
        border: 1px solid #fbfbfb;
        font-weight: 200;
        background: #fefefe;
        color: #333;
        padding: 10px;
        width: 100%;
        font-size: 14pt;
        border-radius: 3px;
      }

.arrow {
  content: '';
  position: absolute;
  z-index: 100;

  bottom: -15px;
  left: 11px;

  background: rgba(30, 30, 30, .1);
  display: none;
  width: 20px;
  height: 20px;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);

  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#content h2 {
  font-size: 34pt;
  font-weight: 200;
  margin: 10px 0;
}

#content #graph {
  width: 100%;
  color: #d88;
  font-size: 24pt;
}

table.records {
  border: 1px solid #bbb;
  padding: 0;
  width: 100%;
}
  table.records tr {
    border-bottom: 1px solid #bbb;
    padding: 5px;
    display: block;
  }
  table.records tr:last-child {
    border: none;
  }
    table.records tr td:first-child {
      width: 50%;