#oauth
  %h1 #{@client.name}

  %table
    %thead
      %th{ :scope => "row" } client id
      %th{ :scope => "row" } client secret
    %tbody
      %tr
        %td #{@client.client_id}
        %td #{@client_secret}