%h2 An message has been sent to the email address you provided.
%p You should receive an email soon with a link in it. You can use that link to reset your password. It may take a few minutes to arrive. Don't forget to check your spam folder if you don't see it soon.